{% extends base_layout %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% if usePageHeader %}
    {% block page_header %}
        <i class="icon-help-circle"></i> Help
    {% endblock %}
{% endif %}

{% block content %}
    <div>
    {% if not usePageHeader %}
        <h1>
            <i class="icon-help-circle"></i> Help
        </h1>
    {% endif %}
    </div>
        
    {% if additionalTemplate is defined %}
        {% include additionalTemplate %}
    {% endif %}
        
    {% render "CCETCErrorReportBundle:ErrorReport:errorReportForm" with {
        'formRoute' : formRoute,
        'form' : form,
    }%}

{% endblock %}